/*! index layout */
#container
  width 95%
  margin 0 auto
  overflow hidden
  @media mini
    width 96%
  @media tablet
    width 94%
  @media desktop
    width 82%

#main
  margin 1em 0 0
  line-height line-height+0.3
  @media tablet
    margin 2em 0 0
    width 75%
    float left
    transition margin 0.5s ease-out
  section.post
    background color-section
    margin-bottom 0.125em
    .article_item
      display block
      border-left 0.5em solid color-gray
      transition border-left .45s
      padding 0.5em
      padding-bottom:0;
      @media mini
        padding 1em
        padding-bottom:0;
      &:hover
        border-left 0.5em solid color-theme
      h1
        font-size font-size+100
        line-height 1.2em
      h1.article_title
          font-size 1.5em
          margin: 0;
          line-height: 2;
          padding:0;
      h2
        font-size font-size+80
        line-height 1.2em
      h3
        font-size font-size+60
      h4
        font-size font-size+40
      h5
        font-size font-size+20
      h6
        font-size font-size
      h1,h2,h3,h3,h4,h5,h6
        color color-heading
        font-smoothing antialiased
        padding 0.3em 0
        margin 0.5em 0
        >code
          color darken(color-gray,20%)
      hr
        border 1px solid lighten(color-gray,30%)
      strong
        font-weight bold
      em
        font-style italic
      acronym,abbr
        border-bottom 1px dotted
      blockquote
        border-left .2em solid color-theme
        margin 0.65em 0 0.65em 15px
        padding-left 10px
        line-height line-height
        font-size font-size+10
        footer
          background color-section
          padding 0
          margin 0
          font-size 80%
          line-height 1em
        cite
          font-style italic
          padding-left 0.5em
      ul,ol
        margin-left 20px
        font-size font-size+5
        @media mini
          padding-left 10px
      ul li
        list-style disc
        text-align match-parent
        margin 0.5em 0
      ol li
        list-style-type decimal
        margin 0.5em 0
      dl dt
        font-weight blod
      ul li>code,ol li>code,p code,strong code,em code
        font-family font-mono
        background color-code
        color darken(color-font,10%)
        border 1px solid darken(color-code,10%)
        padding 0 5px
        margin 0 2px
        font-size 90%
        white-space nowrap
        text-shadow 0 1px #fff
      p
        font-size font-size+5
        line-height line-height+0.2
        margin 0.7em 0
        @media tablet
          margin 1.2em 0
      img,video,figure img
        max-width 100%
        display block
        margin auto
        height auto
        vertical-align middle
        padding-top 0.5em
        @media tablet
          padding-top 0.7em
      figcaption,.caption
        text-align center
        display block
        font-size 0.9em
        font-weight blod
      .video-container
        position relative;
        padding-top 56%
        height 0
        overflow hidden
        iframe,object,embed
          position absolute
          top 0
          left 0
          width 100%
          height 100%
          margin-top 0
      table
        width 100%
        border-collapse collapse
        border-spacing 0
        th
          font-weight bold
          border-bottom 3px solid lighten(color-gray,30%)
          padding-bottom 0.5em
        td
          border-bottom 1px solid lighten(color-gray,30%)
          padding 10px 0
      .pullquote
        text-align left
        width 45%
        margin 0
        border none
      .left
        margin-left 0.5em
        margin-right 1em
        float left
      .right
        margin-right 0.5em
        margin-left 1em
        float right
      .readmore
        text-align center
        padding:0.5em 0 1em;
        margin:0;
        a
          &:before,&:after
            font: 1em FontAwesome;
            padding: 14px;
            vertical-align: middle;
            content: '\f078';
      time
        color color-font
        display block
        margin 0 0 0.5em 0
        font-size 0.5em

.moveMain
  margin-left 10% !important

#page-nav
  background color-section
  text-align center
  overflow hidden
  a, span
    display inline-block
    padding 0.5em 1em
  a
    color color-blue
    &:hover
      background color-gray
      color color-theme
  .prev
    float left
    border-left 0.5em solid color-gray
    transition border-left .5s
    &:hover
      border-left 0.5em solid color-theme
  .next
    float right
  .page-number
    display none
    @media mini
      display inline-block
  .current
    color darken(color-gray,10%)
    font-weight bold
  .space
    color color-blue

/*! page layout */
.page
  @media tablet
    margin-left 10% !important

/*! archive layout */
.category-icon:before,.tag-icon:before,.archive-icon:before
  font-family font-icon-family
  font-smoothing()
  color color-gray
  font-size font-size
  padding-right 0.3em

.category-icon:before
  content "\f07b"

.tag-icon:before
  content "\f02c"

.archive-icon:before
  content "\f187"

.archive-title
  margin 1em 0
  width 97%
  padding 2em 0 2em 3%
  @media tablet
    margin 2em 0
    width 18.5%
    padding-left 0.5%
    float left
  background color-section
  border-left 0.5em solid color-gray
  h2
    width 90%
    color color-blue
    font-size font-size+20
  a
    color color-blue
    transition color .5s
    &:hover
      color color-theme
      transition color .5s
.current
  color color-theme !important

.archive-part
  @media mini
     min-height 200px
  @media tablet
    width 78% !important
    float right
    margin-left 2% !important
  section.post
    width 100%
    @media mini
      float left
      width 50%
    @media tablet
      width 33.333%

.archive-nav
  @media mini
    width 100%
    float left
    margin-top 1em

/*! tags&categories layout */
.all-list-box
  min-height 400px
